<h2>Styling Test Bench</h2>
<div>This page is a test bench for general styling. This is done so that we can have a good idea on how each page should look like. </div>



<div class="w3-row w3-padding-16">
  <div class="w3-col s2 w3-border">
      <div class="w3-col"><a class="vertNavItem" href="/teacher-pages/course-page">Course Page</a></div>
      <div class="w3-col"><a class="vertNavItem" href="/teacher-pages/new-list-page">New List</a></div>
      <div class="w3-col"><a class="vertNavItem" href="/teacher-pages/teacher-list-view">Teacher List View</a></div>
    <!-- <ul>
      <li><a href="/teacher-pages/course-page">Course Page</a></li>
      <li><a href="/teacher-pages/new-list-page">New List</a></li>
      <li> <a href="/teacher-pages/teacher-list-view">Teacher List View</a>  </li>
    </ul> -->
  </div>

  <div class="w3-col s10 w3-border">
    <div style="padding-left: 5px">
      <h3>Text box input</h3>
      <form>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="pwd">Password:</label><br>
      <input type="password" id="pwd" name="pwd"><br>
      <input type="submit" value="Submit" class="button">
      </form>
  
      <h3>Button</h3>
      <button class="button">Hello There</button>
  
      <h3>Drop down</h3>
  
      <div>
        <label for="cars">Choose a car:</label>
  
        <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
        </select>
    </div>

  </div>

</div>

<!-- <div class="wrapper">
  <div class="vertNav">
    <ul>
      <li><a href="/teacher-pages/course-page">Course Page</a></li>
      <li><a href="/teacher-pages/new-list-page">New List</a></li>
      <li> <a href="/teacher-pages/teacher-list-view">Teacher a sdfa sd List View</a>  </li>
    </ul>
  </div>

    <div class="mainItem">
      <h3>Text box input</h3>
      <form>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="pwd">Password:</label><br>
      <input type="password" id="pwd" name="pwd"><br>
      <input type="submit" value="Submit" class="button">
      </form>

      <h3>Button</h3>
      <button class="button">Hello There</button>

      <h3>Drop down</h3>

      <div>
        <label for="cars">Choose a car:</label>

        <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
        </select>

      </div>
  </div>  
</div> -->