<h2>Styling Test Bench</h2>
<div>This page is a test bench for general styling. This is done so that we can have a good idea on how each page should look like. </div>


<h3>Text box input</h3>
<form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd"><br>
    <input type="submit" value="Submit" class="button">
</form>

<h3>Button</h3>
<button class="button">Hello There</button>

<h3>Drop down</h3>

<div>
    <label for="cars">Choose a car:</label>

    <select name="cars" id="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
</div>
