<div class="w3-container listItemStyling">
    <div class="w3-card-4">

    <header class="w3-container">
        <h3>{{selectedProjectName}}</h3>
    </header>
    
    <div *ngIf="accountCurrent === 'teacher'">

    
        <div class="w3-show-inline-block">

            {{selectedProjectDescription}}

            <button class="w3-button w3-small">Edit</button>
            <button class="w3-button w3-small">Remove</button>
        </div>
    
    
        <div class="w3-container">
            <b>Students Assigned:</b> {{studentsAssigned}}
        </div>
    </div>
    
    <div *ngIf="accountCurrent === 'student'">
    
        <div class="w3-show-inline-block">

            <p>{{selectedProjectDescription}}</p>


            <a [routerLink]="['/student-pages/student-list-view']">
             <button class="w3-button w3-small">Back to Project List</button>
           </a>

        </div>
    </div>
</div>

</div>