/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Calibri", sans-serif;
}

body {
    margin: 0px;
}

nav {
    padding: 8px;
}
nav h1 {
    margin: 0px;
    color: white;
}
nav a {
    color: white;
}
nav a:hover {
    text-shadow: 0 0 3px white;
}

.container {
    padding: 8px;
}


/* 
    --=|| Login Pages ||=--
*/
.login-pages-body {
    background-color: rgb(255, 155, 137);
}
.login-pages-nav {
    background-color: rgb(161, 60, 43);
}

/* 
    --=|| Student Pages ||=--
*/
.student-pages-body {
    background-color: rgb(137, 221, 255);
}
.student-pages-nav {
    background-color: rgb(43, 127, 161);
}

/* 
    --=|| Teacher Pages Pages ||=--
*/
.teacher-pages-body {
    background-color: rgb(137, 255, 157);
}
.teacher-pages-nav {
    background-color: rgb(70, 161, 43);
}