<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div style="padding: 5px">
  <header>
    <h1>ISIT 422 Project</h1>
  
    <ul>
      <li><a routerLink="/student-pages/student-landing">Student Landing</a></li>
      <li><a routerLink="/teacher-pages/teacher-landing">Teacher Landing</a></li>
      <!-- <li><a routerLink="/testbench">Styling Test Bench</a></li>-->
      <li><a routerLink="/database">Database</a></li> 
      <li class = "right">
        <a *ngIf="accountCurrent!='teacher' && accountCurrent != 'student'" routerLink="/login-pages/sign-in">Sign In</a>

        <a *ngIf="accountCurrent==='teacher' || accountCurrent === 'student'" routerLink="/login-pages/sign-in">Sign Out</a>
      </li>
    </ul>
  </header>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
  <footer>
    <h4>Chitalu, Ian, Eric, Thai</h4>
  </footer>
</div>
