<h2>Teacher List</h2>

<div *ngFor="let course of courses"> 
  <div>
    <app-list-container-f    
      [course]="course">
    </app-list-container-f>
    <div *ngFor="let projectListName of projectListNames">
      <app-project-list-container-f
      *ngIf="course.id == projectListName.course_id" 

      [projectListName]="projectListName">
      </app-project-list-container-f>
    </div>
  </div>
</div>
<!--ul>
<li><a href="/teacher-pages/new-project-page">New Project Page</a></li>
<li><a href="/teacher-pages/edit-project-page">Edit Project Page</a></li>
<li><a href="/teacher-pages/teacher-project-view">Teacher Project View</a></li>
<li><a href="/teacher-pages/teacher-landing">Back</a></li>
</ul-->

