<h2>Teacher List</h2>

<div *ngFor="let projectListName of projectListNames"> 
  <h3>
      {{projectListName.name}}
  </h3>

  <div *ngFor="let project of projects">
      <div *ngIf="project.project_list_id == projectListName.id">
          {{project.name}}
      </div>
  </div>
</div>




<!--ul>
<li><a href="/teacher-pages/new-project-page">New Project Page</a></li>
<li><a href="/teacher-pages/edit-project-page">Edit Project Page</a></li>
<li><a href="/teacher-pages/teacher-project-view">Teacher Project View</a></li>
<li><a href="/teacher-pages/teacher-landing">Back</a></li>
</ul-->

