<h2 *ngIf="list">List: {{list.listname}}</h2>
<p *ngIf="teacher">Owned by {{teacher.name}}</p>
<a [routerLink]="['/teacher-pages/new-project-page']" >New Project</a><br />
<a [routerLink]="['/teacher-pages/edit-project-page']" [state]="{projectName: 'ENG200_proj1', projectID: '27'}">Edit Project "Existing Project"</a><br />
<a [routerLink]="['/teacher-pages/teacher-project-view']" [state]="{projectName: 'Existing Project', projectID: 'Unique Project ID'}">Teacher Project View</a><br />

<a [routerLink]="['/teacher-pages/teacher-landing']">Back</a>

<h2>Teacher List</h2>

<div>

    <div class="w3-container listItemStyling">
    
        <div class="w3-container listItemStyling">
            <div class="w3-card-4">     
                <div>
                    <header class="w3-container">
                        <h2>{{currentProjectList.name}}</h2>
                    </header>       
        
                    <div *ngFor="let project of projects">
                        <app-project-list-view-f
                            *ngIf="project.project_list_id == currentProjectList.course_id" 
            
                            [project]="project">
                        </app-project-list-view-f>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
        

            
    
