<h3>New Project</h3>
<a *ngIf="currentList" [routerLink]="['/teacher-pages/teacher-list-view']" [state]="{listname: currentList.listname, listID: currentList.listID, courseID: currentList.courseID}">Back</a>

<form [formGroup]="newProjectForm" (ngSubmit)="submitForm('new project form')">
    <div class="form-group">
        <label for="projectname">Project Name: </label> <br>
        <input type="text" id="projectname" name="projectname" formControlName="projectname"/>
    </div>
    <div class="form-group">
        <label for="description">Project Description: </label><br>
        <textarea id="description" name="description" rows="4" cols="50" formControlName="description"></textarea>
    </div>
    <input (click)="submitForm(this.projectFormType)" type="submit" value="Submit" class="button" />
</form>