<h2 *ngIf="teacher">New List For {{teacher.name}}</h2>

<a [routerLink]="['/teacher-pages/teacher-landing']">Back</a>

<form *ngIf="newListForm" [formGroup]="newListForm" (ngSubmit)="submitForm('new list form')">
    <div class="form-group">
        <label for="listname">List Name: </label>
        <input type="text" id="listname" name="listname" formControlName="listname" />
    </div>
    <fieldset formArrayName="course">
        <legend>What course is this list for?</legend>
        <div *ngIf="courseArray">
            <div *ngFor="let course of courseArray; index as j;">
                <div class="form-group">
                    <input type="radio" name="{{j}}" id="{{courseArray[j].id}}" value="{{courseArray[j].id}}" formControlName="{{j}}">
                                        <label for="{{courseArray[j].id}}">{{courseArray[j].name}}</label>
                </div>
            </div>
        </div>
        
    </fieldset>
    <input (click)="submitForm(this.projectFormType)" type="submit" value="Submit" class="button" />
</form>