<h2>New List</h2>
<a href="/teacher-pages/teacher-list-view">Teacher List View</a><br />
<a href="/teacher-pages/teacher-landing">Back</a>

<form [formGroup]="newListForm" (ngSubmit)="submitForm('new list form')">
    <div class="form-group">
        <label for="listname">List Name: </label>
        <input type="text" id="listname" name="listname" formControlName="listname" />
    </div>
    <fieldset formArrayName="course">
        <legend>What course is this list for?</legend>
        <div *ngFor="let course of courseArray; index as j;">
            <div class="form-group">
                <input type="radio" name="{{j}}" id="{{courseArray[j]}}" value="{{courseArray[j]}}" formControlName="{{j}}">
                <label for="course-{{j}}">{{courseArray[j]}}</label>
            </div>
        </div>
        
    </fieldset>
    <input type="submit" value="Submit" class="button" />
</form>