<h2>Student List View</h2>

<div>

<!--app-project-list-container-f 
    [currentProjectNameState]="currentProjectNameState">
</app-project-list-container-f-->

<!-- app-project-list-item></app-project-list-item> -->


    <div *ngFor="let projectListName of projectListNames"> 
        <div>
            {{projectListName.name}}
        </div>

        <div *ngFor="let project of projects">
            <div *ngIf="project.project_list_id == projectListName.id">
                {{project.name}}
            </div>
        </div>
    </div>
</div>




<!--a href="/student-pages/student-project-view">Student Project View</a><br /-->
<a href="/student-pages/student-landing">Back</a>
