<a [routerLink]="['/student-pages/student-project-view']">Student Project View</a><br />
<a [routerLink]="['/student-pages/student-landing']">Back</a>
<h2>Student List View</h2>

<div>

<div class="w3-container listItemStyling">

<div class="w3-container listItemStyling">
    <div class="w3-card-4">     
        <div>
            <header class="w3-container">
                <h2>{{currentProjectListName}}</h2>
            </header>       
    
    <div *ngFor="let project of projects">
        <app-project-list-view-f
        *ngIf="project.project_list_id == currentProjectListCourseId" 
        
            [project]="project">
        </app-project-list-view-f>
        
        
        
        </div>
    
    </div> 
</div>


 

