
<div class="w3-container listItemStyling">
    <div class="w3-card-4">



     
        <div *ngFor="let course of courses">
            <header class="w3-container">
                <h2 >{{course.name}}</h2>
            </header>

            <!-- Placeholder project items subject to removal once proper database communications have been established.  -->
            <app-project-list-item></app-project-list-item>
            <app-project-list-item></app-project-list-item>
            <app-project-list-item></app-project-list-item>
            <app-project-list-item></app-project-list-item>
            <app-project-list-item></app-project-list-item>

            <!--table  class="courses">
                <th>
                    What
                    
                </th>
            
                <tr>More coming here </tr>
            </table-->

            
        </div>

  


    </div>
</div>

<!--ul class="courses">
    <li *ngFor="let course of courses">
      <a routerLink="">
         {{course.name}}
      </a>
      
    </li>
  </ul>


  <table class="projects">
    <th>ID</th>
    <th>Project Name</th>

    <tr *ngFor="let project of projects">
        

      <td>
        <a routerLink="">
        <span class="badge">{{project.id}}</span> {{project.name}}
      </a>
      </td>


      <td>
        Description is here
      </td>

      <td>
        <button>Add</button>
        <button>Modify</button>
        <button>Delete</button>
      </td>
      
    </tr>
</table-->

 



