<p>create-account works!</p>

<a href="/student-pages/student-landing">Student Landing</a><br />
<a href="/teacher-pages/teacher-landing">Teacher Landing</a><br />

<form>
    <div class="form-group">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" value="text"/>
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" />
    </div>
    <div class="form-group">
        <label for="user-type">Are you a student or a teacher? </label>
        <select name="user-type">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
    </div>
    <input type="submit" value="Submit" class="button"  />
    
</form>