<div class="w3-container">
    <p>{{projectDescription}}</p>
</div>

<div *ngIf="accountCurrent === 'teacher'">

    <div class="w3-show-inline-block">
        <button class="w3-button w3-small">View Details</button>
        <button class="w3-button w3-small">Edit</button>
        <button class="w3-button w3-small">Remove</button>
    </div>


    <div class="w3-container">
        <b>Students Assigned:</b> {{studentsAssigned}}
    </div>
</div>

<div *ngIf="accountCurrent === 'student'">

    <div class="w3-show-inline-block">
        <button class="w3-button w3-small">View Details</button>
    </div>
</div>