<h2 [textContent]="name"></h2>
<p>database works!</p>
<div class = "dbGrid">
    <ul>
        <li><button (click)="onidx0()">get_T_Collect</button></li>
        <li><button (click)="onidx1()">post-T_TestC</button></li>
        <li><button (click)="onidx2()">get_I_courses</button></li>
        <li><button (click)="onidx3()">get_T_coll2</button></li>
        <li><button (click)="onidx4()">updateMany</button></li>
        <li><button (click)="onidx5()">findAndModify</button></li>
    </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>