/*body > app-root > div > app-database > div > ul > li:nth-child(2)*/
.dbGrid{
	display:grid;
	grid-template-columns:25% 25% 25% 25%;	
	grid-row-gap: 2%;
	margin: 2% 8% 5% 12%;
    width:300%;
}


div > ul > li{
	background-color:#ffffff;
	border:solid #000000 2px;
	text-align: center;
    margin:2% 2% 2% 2%;
    padding:1%;
}

table {
	border-collapse: collapse;
	margin-left: 10%;
	max-width: 90%;
	min-width: 80%;
	margin-bottom:100px;
}

/*@media only screen and (max-width:600px) {
	body {
		background-color: cyan;
	}
}*/
