<p>course-page works!</p>
<a href="/teacher-pages/teacher-landing">Back</a>

<form>
    <div class="form-group">
        <label for="coursename">Course Name: </label>
        <input type="text" id="coursename" name="coursename" />
    </div>
    <fieldset>
        <legend>Select Students for Course</legend>
        <div class="form-group">
            <input type="checkbox" name="students" id="student-1" value="Student 1">
            <label for="student-1">Student 1</label>
        </div>
        <div class="form-group">
            <input type="checkbox" name="students" id="student-2" value="Student 2">
            <label for="student-2">Student 2</label>
        </div>
        <div class="form-group">
            <input type="checkbox" name="students" id="student-3" value="Student 3">
            <label for="student-3">Student 3</label>
        </div>
    </fieldset>
    <input type="submit" value="Submit" class="button" />
</form>