<p>course-page works!</p>
<a href="/teacher-pages/teacher-landing">Back</a>

<form [formGroup]="courseForm" (ngSubmit)="submitForm('course form')">
    <div class="form-group">
        <label for="coursename">Course Name: </label>
        <input type="text" id="coursename" name="coursename" formControlName="coursename" />
    </div>
    <fieldset formArrayName="students">
        <legend>Select Students for Course</legend>
        <div *ngFor="let student of studentsArray; index as i">
            <div class="form-group">
                <input type="checkbox" name="students" id="student-{{i}}" value="Student {{i}}" formControlName="{{i}}">
                <label for="student-{{i}}">{{studentsArray[i]}}</label>
            </div>
        </div>
        
    </fieldset>
    <input type="submit" value="Submit" class="button" /> 
</form>