<h2>Course Page</h2>
<a [routerLink]="['/teacher-pages/teacher-landing']">Back</a>

<form *ngIf="courseForm && studentsArray" [formGroup]="courseForm" (ngSubmit)="submitForm('course form')">
    <div class="form-group">
        <label for="coursename">Course Name: </label>
        <input type="text" id="coursename" name="coursename" formControlName="coursename" />
    </div>
    <fieldset formArrayName="students">
        <legend>Select Students for Course</legend>
        <div *ngFor="let student of studentsArray; index as i">
            <div class="form-group">
                <input type="checkbox" name="students" id="student-{{i}}" value="{{studentsArray[i].id}}" formControlName="{{i}}">
                <label for="student-{{i}}">{{studentsArray[i].name}}</label>
            </div>
        </div>
        
    </fieldset>
    <input (click)="submitForm(this.projectFormType)" type="submit" value="Submit" class="button" [disabled]="!courseForm.valid"/> 
</form>