<div class="w3-container listItemStyling">
    <div class="w3-card-4">
        <header class="w3-container">
            <h5 #projListName>{{projectListName.name}}    </h5>
        </header>

          <div class="w3-container">
            <!--p>Random Description</p-->
          </div>

          <div *ngIf="currentUserAccount.user_type === 'teacher'">
            <div class="w3-show-inline-block	">

              <a [routerLink]="['/teacher-pages/teacher-list-view']"
                [state]="{projectListName:projListName.innerHTML, projectListCourseID:projectListName.id}"
                (click)="setCurrentProjectList()">
              <button class="w3-button w3-small" 
              class="w3-button w3-small">

                View Details                
                
              </button>
            </a> 
              <button (click)="deleteItem(projectListName.id)" class="w3-button w3-small">Remove</button>
            </div>
          </div>

          <div *ngIf="currentUserAccount.user_type == 'student'">
            <div class="w3-show-inline-block	">
              <a>
              <button 
                   [routerLink]="['/student-pages/student-list-view']"
                  [state]="{projectListName:projListName.innerHTML, projectListCourseID:projectListName.id}"
                  (click)="setCurrentProjectList()"
                  class="w3-button w3-small">
                  
                  View Details
                              
              </button>
            </a>
           </div>
          </div>

          


          <div class="w3-container">
          </div>
          
    </div>

</div>





