
        <div >

        <table >
                <th #projName>
                    {{projectListNameStudentListView.name}}                  
                    
                </th>

                <tr>
                    <td>
                        <button (click)="setProjName(projName.innerHTML)">

                        <a [routerLink]="['/student-pages/student-list-view']"
                        [state]="{projectName:projName.innerHTML, projectID:'PID Unique'}">
                        {{buttonValue}}</a>
                        </button>


                    </td>
                     <!---->
                </tr>
                

        </table>
        <br/>
        </div>
  



