<a [routerLink]="['/teacher-pages/new-list-page']" >Add New List</a><br />
<a [routerLink]="['/teacher-pages/course-page']" >Add New Course</a><br />

<div *ngFor="let course of courses"> 
    <div>
      <div *ngIf="course.teacher_id == currentTeacher.id">
        <app-list-container-f    
          [course]="course">
        </app-list-container-f>
      </div>

      <div *ngFor="let projectListName of projectListNames">
        <div *ngIf="course.teacher_id == currentTeacher.id">

        <app-project-list-container-f
        *ngIf="course.id == projectListName.course_id" 
  
        [projectListName]="projectListName">
        </app-project-list-container-f>
      </div>

      </div>
    </div>
  </div>
